extends index

block content
    .round-button
        .round-button-circle
            a.round-button(href="/off")= "DEACTIVATE"
    img(src="/images/physical-web.png")


    script.
      setInterval(function () {
        if (document.body.style.background == "red") {
          document.body.style.background = "white"
        } else {
          document.body.style.background = "red"
        }
      }, 500)